<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>

    <link rel="stylesheet" href="../lib/bootstrap.min.css">
    <link rel="stylesheet" href="../lib/template.css">

    <link rel="stylesheet" href="../css/one.css">

    <script src="../lib/jquery-1.11.3.min.js"></script>
    <script src="../lib/bootstrap.min.js"></script>
    
</head>
<body>
    <div class="container-fluid"> 
        <div class="layout-table">
            <div class="layout-table-header">
                <span class="span-9"></span>
                <span class="span-6">
                    肯耐珂萨四层产品结构-2018版
                </span>
                <span class="span-9"></span>
            </div>
            <div class="layout-table-content tbl tbl-simple tbl-striped">
                <div class="tbl-header">
                    <table>
                        <colgroup>
                            <col style="width: 150px;">
                            <col style="width: 700px;">
                        </colgroup>
                        <tbody>
                            <tr>
                                <td rowspan="2">
                                    <span>四层结构</span>
                                </td>
                                <td>
                                    <span>产品分类</span>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <span>（按实际产品勾选）</span>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <div class="tbl-content">
                    <table>
                        <colgroup>
                            <col style="width: 150px;">
                            <col style="width: 700px;">
                        </colgroup>
                        <tbody>
                            <tr>
                                <td rowspan="5">组织发展云</td>
                                <td><a href="views/one.html"></a></td>
                            </tr>
                            <tr>
                                <td>c2</td>
                            </tr>
                            <tr>
                                <td>c2</td>
                            </tr>
                            <tr>
                                <td>c2</td>
                            </tr>
                            <tr>
                                <td>c2</td>
                            </tr>
                            <tr>
                                <td rowspan="5">人才管理云</td>
                                <td>c2</td>
                            </tr>  
                            <tr>
                                <td>c2</td>
                            </tr> 
                            <tr>
                                <td>c2</td>
                            </tr>
                            <tr>
                                <td>c2</td>
                            </tr>
                            <tr>
                                <td>c2</td>
                            </tr>
                            <tr>
                                <td rowspan="3">招聘管理云</td>
                                <td>c2</td>
                            </tr>
                            <tr>
                                <td>c2</td>
                            </tr>
                            <tr>
                                <td>c2</td>
                            </tr>
                            <tr>
                                <td rowspan="2">人事管理云</td>
                                <td>c2</td>
                            </tr>
                            <tr>
                                <td>c2</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        
    </div>

    <script>
        // VX3.updateTable();
    </script>

</body>
</html>